@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #270926, #6e0f56, #320830) !important;
  color: whitesmoke !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}

.card{

  background-color: #440935;
  box-shadow: rgba(246, 237, 237, 0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



